.animated-svg-background {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .animated-svg-background svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 220px);
}

.container > *:not(:first-child) {
    margin-left: 192px; 
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 450px;
    max-width: 500px;
}

.login-form p {
    margin-top: -6px;
    font-size: 12px;
}

.ui-card-title {
    text-align: center;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 4px;
}

.form-control span{
    text-align: start;
}

.form-control label{
    font-size: 12px;
    align-self: flex-start; 
    margin: 2px 0;
}

.btn-cta{
    font-size: 16px;
    margin: 0px 4px;
    border: none;
    padding: 16px 0;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.btn-cta:disabled {
    cursor: not-allowed;
}

.btn-cta:not(:disabled):hover{
    transform: translate(0px, -2px);
}

a{
    color: #00bfa6;
}