.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}

.search-bar{
    display: flex;
    gap: 8px;
    margin: 0 12px;
}

.buttons{
    margin: 0 20px;
    width: 120px;
}